@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --cardLine: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

html, body {
    height: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.125em;
    line-height: 1.4;
    background: var(--mainBG);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20%;
}

.main__card {
    padding: 4%;
    background-color: var(--cardBG);
    border-radius: 5%;
}

.main__image {
    display: flex;
    justify-content: center;
    align-content: center;
}

.main__image img {
    height: 75%;
    border-radius: 5%;
    margin: 0;
    padding: 0;
}

.main__text {
    padding-top: 2rem;
    letter-spacing: .1rem;
}

.main__text h1 {
    color: var(--white);
    font-weight: 600;
}

.main__text p {
    padding-top: 1rem;
    color: var(--softBlue);
    font-weight: 300;
}

.main__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
    color: var(--cyan);
}

.main__information .stock__information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__information .stock__information p {
    padding-left: 0.7rem;
}

.main__information .counting__information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__information .counting__information p {
    padding-left: 0.7rem;
}

.main__separator {
    background-color: var(--cardLine);
    height: 1px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main__creator {
    display: flex;
    align-items: center;
}

.main__creator img {
    border: solid var(--white) 2px;
    border-radius: 50%;
}

.main__creator h3 {
    color: var(--softBlue);
    font-weight: 300;
    padding-left: 2rem;
}

.main__creator h3 span {
    color: var(--white);
}


